version: '3.7'

networks:
  network:
    driver: overlay

services:
  nginx:
    image: "nginx:1.17.0-alpine"
    deploy:
      replicas: 1
    ports:
      - "80:80"
    networks:
      - network

  rabbitmq:
    image: "rabbitmq:3.7.15-management"
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - network
